* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #f2f2f2;
}
.cartItem {
  box-shadow: 0 1px 5px rgb(0, 0, 0, 0.5);
  background-color: white;
  width: fit-content;
  overflow: hidden;
  /* z-index: -1000; */
}
.cartItem {
  position: relative;
  transition: transform 100ms linear;
}
.cartItem:hover {
  transform: scale(1.02);
}

.discountLogo {
  color: white;
  background-color: green;
}
.searchItemholder {
  width: fit-content;
  border-radius: 12px;
  position: sticky;
  top: 70px;
  z-index: 10000;
}

.searchBar {
  z-index: 1000;
  width: 40%;
  opacity: 0.7;
  transition: width 300ms, opacity 300ms ease-in-out;
}
.searchBar:focus {
  width: 50%;
  opacity: 1;
}
